<header class="cabecera">
  <div class="logo">ICEFRIOHIELO</div>
  <nav class="menu">
<a href="/pages/carito/carrito.html">
  <span class="icono-carrito">&#128722;</span>
</a>    <ul>
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="/pages/contacto.html">Contacto</a></li>
      <li><a href="/pages/dulcesDetails.html">Dulces</a></li>
      <li><a href="/pages/graniDetails.html">Granizados</a></li>
      <li><a href="/pages/insumosDetails.html">Insumos</a></li>
    </ul>
  </nav>
</header>