<footer class="pie">
  <div class="contenido">
    <div class="columna">
      <h3>ICEFRIOHIELO</h3>
      <p>Especialistas en dulces, granizados e insumos refrescantes.</p>
    </div>
    <div class="columna">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="dulcesDetails.html">Dulces</a></li>
        <li><a href="graniDetails.html">Granizados</a></li>
      </ul>
    </div>
    <div class="columna">
      <h4>Contacto</h4>
      <p>Email: info@icefriohielo.com</p>
      <p>Tel: +57 300 123 4567</p>
    </div>
  </div>
  <div class="copy">
    &copy; 2025 ICEFRIOHIELO. Todos los derechos reservados.
  </div>
</footer>